<section class="contact">
    <div class="items">
        <h1 class="heading">Contact <span class="heading-mark">Us</span> </h1>
        <ul>
            <li>Our <span class="mark">Telephone Number 1 :</span> +123 456 78 90 </li>
            <li>Our <span class="mark">Telephone Number 2: </span> +111 222 33 44</li>
            <li>Our <span class="mark">E-mail Address: </span> mehmetburakbaloglu@gmail.com</li>
            <li>Our <span class="mark">Location: </span> Bozuyuk, Bilecik, Turkey</li>
        </ul>
    </div>
</section>