<section class="about">
    <img src="../../../assets/img/jonas-jacobsson-1iTKoFJvJ6E-unsplash.jpg" alt="">
    <div class="container">
        <h1 class="heading">About <span class="heading-mark">Us</span></h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt consequuntur recusandae neque dolorum totam rerum eos ipsam! Cumque commodi quia sapiente assumenda explicabo dolorum. Ipsa soluta hic iure quisquam nesciunt, atque quam dolorum
            obcaecati ducimus recusandae, aliquid magni, officiis ab reprehenderit similique esse. Minima, vel! Rerum explicabo nulla cumque consequatur?</p>
    </div>
</section>